/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/corne_positions.h>
#include <dt-bindings/zmk/perkey_rgb.h>

#define MAIN 0
#define NAV  1
#define SYM  2
#define SYS  3
#define FUN  4
#define NUM  5

&mt {
    tapping-term-ms = <300>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <150>;
};

/ {
    // Reusable position sets. Declared once, coloured where they are used.
    prgb_arrows: prgb_arrows {
        compatible = "zmk,perkey-rgb-zone";
        #zone-cells = <3>;
        positions = <POS_T9                    // up
                     POS_H8  POS_H9  POS_H10>; // left down right
    };

    prgb_numpad: prgb_numpad {
        compatible = "zmk,perkey-rgb-zone";
        #zone-cells = <3>;
        positions = <POS_T8 POS_T9 POS_T10     // 7 8 9
                     POS_H8 POS_H9 POS_H10     // 4 5 6
                     POS_B8 POS_B9 POS_B10     // 1 2 3
                     POS_TH5>;                 // 0
    };

    perkey_rgb {
        compatible = "zmk,perkey-rgb";

        // <hue 0-359  saturation 0-100  value 0-100>
        default-color   = <200 100  70>;
        underglow-color = <200 100  50>;
        unbound-color   = <  0   0   0>;   // off: no function on this layer
        modifier-color  = <  0   0 100>;   // white

        // Press feedback, for verifying the LED map. Leaving it out means an
        // ordinary typing session emits no LED updates at all.
        // pressed-color = <0 0 100>;

        // A key that reaches another layer is painted in that layer's colour,
        // so the thumbs advertise where they go.
        main { layer = <MAIN>; color = <200 100  70>; };
        nav  { layer = <NAV>;  color = <120 100  70>; zones = <&prgb_arrows 200 100 100>; };
        sym  { layer = <SYM>;  color = < 20 100  70>; };
        sys  { layer = <SYS>;  color = <  0 100  70>; underglow-color = <0 100 60>; };
        fun  { layer = <FUN>;  color = <285 100  70>; };
        num  { layer = <NUM>;  color = < 55 100  70>; zones = <&prgb_numpad 200 100 100>; };
    };


    conditional_layers {
        compatible = "zmk,conditional-layers";

        sys_layer {
            if-layers = <SYM NAV>;
            then-layer = <SYS>;
        };
    };

    behaviors {
        prgb: prgb {
            compatible = "zmk,behavior-perkey-rgb";
            #binding-cells = <2>;
            display-name = "Per-key RGB";
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | ENT |   | SPC | RSE  | ALT |

            bindings = <
&mt LC(TAB) TAB &kp Q        &mt LC(W) W       &kp E                &mt F5 R            &kp T        &kp Y          &kp U        &kp I       &mt LBKT O   &mt RBKT P           &kp BSPC
&hm LSHFT CAPS  &hm LCTRL A  &hm LSHFT S       &hm LGUI D           &hm LALT F          &kp G        &kp H          &hm RALT J   &hm RGUI K  &hm RSHFT L  &hm RCTRL SEMI  &kp SQT
&hm LCTRL ESC   &mt LC(Z) Z  &mt LS(DELETE) X  &mt LC(INSERT) C     &mt LS(INSERT)  V   &kp B        &kp N          &kp M        &kp COMMA   &kp DOT      &kp FSLH        &kp ESC
                                               &kp LGUI             &mo NAV             &lt NUM RET  &lt FUN SPACE  &mo SYM      &kp RALT
            >;

            display-name = "MAIN";
        };

        nav_layer {
            bindings = <
&trans   &trans        &kp LC(HOME)  &kp LC(UP)          &kp LC(PAGE_UP)     &kp LA(LEFT)  &trans       &kp HOME  &kp UP          &kp PAGE_UP    &trans         &trans
&trans   &trans        &kp LC(LEFT)  &kp LC(DOWN)        &kp LC(RIGHT)       &kp LA(RIGHT) &kp INSERT   &kp LEFT  &kp DOWN        &kp RIGHT      &kp RET        &kp RET
&trans   &trans        &kp LC(END)   &kp LC(DOWN)        &kp LC(PAGE_DOWN)   &kp LC(BSLH)  &kp DELETE   &kp END   &kp DOWN        &kp PAGE_DOWN  &kp RET        &trans
                                     &trans              &trans              &trans        &trans       &trans    &trans
            >;

            display-name = "NAV";
        };

        sym_layer {
            bindings = <
&kp TILDE &kp EXCL  &kp AT        &kp HASH  &kp DLLR       &kp PRCNT  &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &trans
&trans    &trans    &trans        &trans    &trans         &trans     &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&trans    &trans    &trans        &trans    &trans         &trans     &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                                  &trans    &trans         &trans     &trans     &trans     &trans
            >;

            display-name = "SYM";
        };

        sys_layer {
            bindings = <
&trans      &sys_reset       &bootloader      &trans           &trans             &trans           &sys_reset  &bootloader      &trans  &trans  &trans  &trans
&bt BT_CLR  &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3       &bt BT_SEL 4     &trans      &kp PRINTSCREEN  &trans  &trans  &trans  &trans
&trans      &prgb PRGB_BRD   &prgb PRGB_TOG   &prgb PRGB_BRI   &ext_power EP_TOG  &trans           &trans      &trans           &trans  &trans  &trans  &trans
                                              &trans           &trans             &trans           &trans      &trans           &trans
            >;

            display-name = "SYS";
        };

        fun_layer {
            bindings = <
&trans   &kp F1  &kp F2  &kp F3    &kp F4  &kp F5  &kp F6  &kp F7  &kp F8   &kp F9  &kp F10  &trans
&trans   &trans  &trans  &trans    &trans  &trans  &trans  &kp F4  &kp F5   &kp F6  &kp F11  &trans
&trans   &trans  &trans  &trans    &trans  &trans  &trans  &kp F1  &kp F2   &kp F3  &kp F12  &trans
                         &trans    &trans  &trans  &trans  &trans  &kp F10
            >;

            display-name = "FUN";
        };

        num_layer {
            bindings = <
&trans   &kp N1  &kp N2  &kp N3    &kp N4  &kp N5  &kp N6     &kp N7  &kp N8   &kp N9  &kp N0    &trans
&trans   &trans  &trans  &trans    &trans  &trans  &kp COMMA  &kp N4  &kp N5   &kp N6  &kp PLUS  &kp RET
&trans   &trans  &trans  &trans    &trans  &trans  &kp DOT    &kp N1  &kp N2   &kp N3  &kp MINUS &kp RET
                         &trans    &trans  &trans  &trans     &kp N0  &kp RET
            >;

            display-name = "NUM";
        };
    };
};
